node_modules
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
.yarn/sdks
.git
.gitignore
*.log
.DS_Store
.env.local
.env.*.local
coverage
.nyc_output
apps/docs
apps/playground
README.md
*.md 