{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2020",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "module": {
    "type": "es6"
  },
  "minify": true,
  "env": {
    "targets": {
      "chrome": "90",
      "firefox": "90",
      "safari": "14",
      "edge": "90"
    },
    "mode": "entry",
    "coreJs": false
  }
}