@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base */
    --background: 0 0% 100%;
    --foreground: 0 0% 11%;

    /* Primary */
    --primary: 204 100% 32%;
    --primary-lighter: 209 100% 91%;
    --primary-light: 203 54% 68%;
    --primary-vivid: 217 100% 42%;
    --primary-dark: 217 100% 25%;
    --primary-darker: 215 57% 20%;

    /* Secondary */
    --secondary: 3 61% 53%;
    --secondary-lighter: 3 47% 92%;
    --secondary-light: 3 47% 75%;
    --secondary-vivid: 350 91% 50%;
    --secondary-dark: 2 89% 35%;
    --secondary-darker: 4 96% 27%;

    /* Accent Cool */
    --accent-cool: 190 100% 44%;
    --accent-cool-lighter: 187 100% 93%;
    --accent-cool-light: 190 53% 75%;
    --accent-cool-dark: 196 67% 48%;
    --accent-cool-darker: 198 85% 29%;

    /* Accent Warm */
    --accent-warm: 28 95% 62%;
    --accent-warm-lighter: 35 77% 89%;
    --accent-warm-light: 33 100% 74%;
    --accent-warm-dark: 24 100% 38%;
    --accent-warm-darker: 17 27% 36%;

    /* Base Colors */
    --base: 0 0% 46%;
    --base-lighter: 0 0% 94%;
    --base-light: 0 0% 69%;
    --base-dark: 0 0% 36%;
    --base-darker: 0 0% 27%;
    --base-darkest: 0 0% 11%;

    /* Focus */
    --focus-ring: 208 100% 57%;

    /* State Colors */
    --info: 190 100% 44%;
    --error: 14 94% 43%;
    --warning: 47 100% 59%;
    --success: 134 100% 33%;
    --disabled: 0 0% 46%;
    --emergency: 14 82% 34%;
  }

  .dark:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    /* Add dark mode overrides */
    --primary: 203 54% 68%;
    --primary-hover: 203 54% 68%;
    --primary-active: 204 69% 45%;

    --secondary: 4 75% 64%;
    --secondary-hover: 6 77% 55%;
    --secondary-active: 5 81% 38%;

    --accent-cool: 196 67% 48%;
    --accent-cool-hover: 197 91% 29%;
    --accent-cool-active: 197 91% 22%;

    --accent-warm: 25 100% 38%;
    --accent-warm-hover: 19 19% 36%;
    --accent-warm-active: 12 20% 19%;
  }
}

@layer components {
  /* Headings */
  .usa-prose-h1 {
    @apply text-2xl font-normal;
    margin-top: 1em;
  }

  .usa-prose-h2 {
    @apply text-xl font-normal;
    margin-top: 105px;
  }

  .usa-prose-h3 {
    @apply text-lg font-normal;
    margin-top: 1em;
  }

  .usa-prose-h4 {
    @apply text-sm font-normal;
    line-height: theme('lineHeight.heading-2');
    margin-top: 105px;
    measure: 6;
  }

  .usa-prose-h5 {
    @apply text-xs font-normal;
    line-height: theme('lineHeight.heading-2');
    margin-top: 105px;
    measure: 6;
  }

  .usa-prose-h6 {
    @apply text-3xs font-normal uppercase;
    line-height: theme('lineHeight.heading-2');
    margin-top: 105px;
    measure: 6;
    letter-spacing: 1px;
  }

  /* Body text */
  .usa-prose-body {
    @apply text-sm font-normal;
    line-height: theme('lineHeight.body-5');
    measure: 6;
  }

  /* Intro text */
  .usa-prose-intro {
    @apply text-xl font-normal;
    line-height: theme('lineHeight.alt-5');
    margin-top: 1em;
    measure: 6;
  }

  /* Lists */
  .usa-prose-ol {
    @apply list-decimal pl-4;
    margin-top: 1em;
  }

  .usa-prose-ul {
    @apply list-disc pl-4;
    margin-top: 1em;
  }

  .usa-prose-li {
    margin-top: 0.5em;
  }
}
